# This file is just for reference, since .env.prod is not really used.
# .env in the server is created manually by the hwbe.yml github action.

HWBE_NODE_ENV=production

HWBE_PORT=3000

HWBE_CORS_ORIGIN=unused

HWBE_DB_URL="postgresql://$USERNAME:$PASSWORD@localhost:5432/$DB_NAME?schema=public"