# Copy to .env and adjust.

HWBE_NODE_ENV=development

HWBE_PORT=3000

HWBE_CORS_ORIGIN=http://localhost:4200

HWBE_SENTRY_DSN=unused

HWBE_DB_URL=postgresql://<USERNAME>:<PASSWORD>@localhost:5432/<DB_NAME>?schema=public

HWBE_JWT_KEY=<HWBE_JWT_KEY>

HWBE_JWT_EXPIRES_IN=1d

HWBE_PRIVATE_VAPID_KEY=<PRIVATE_VAPID_KEY>

HWBE_PUBLIC_VAPID_KEY=<PUBLIC_VAPID_KEY>

HWBE_VAPID_EMAIL=<HWBE_VAPID_EMAIL>