<app-sidebar [buttons]="buttons()"></app-sidebar>

@let activePlayer = dungeonService.activePlayer();
@let master = campaignService.master();
@let activePlayerIsMaster = activePlayer?.id === master.id;
@let activeHero = dungeonService.activeHero();
@let myHero = dungeonService.myHero();
@let selectedMonster = dungeonService.selectedMonster();

@if (myHero) {
  <div class="absolute top-1 left-18 hw-border border-primary p-1.5">
    <div class="flex flex-row gap-3 items-center">
      <app-who [user]="campaignService.me()" [character]="myHero" [master]="false"></app-who>
      <ng-container
        *ngTemplateOutlet="creatureStatsOutlet; context: { creature: myHero }"
      ></ng-container>
    </div>
  </div>
}

@if (master.me) {
  <div class="absolute top-1 left-18 hw-border border-primary p-1.5">
    <div class="flex flex-row gap-3 items-center">
      <app-who [master]="true" [user]="campaignService.campaign().master"></app-who>
      @if (selectedMonster) {
        <app-who-monster [master]="true" [monster]="selectedMonster"></app-who-monster>
        <ng-container
          *ngTemplateOutlet="creatureStatsOutlet; context: { creature: selectedMonster }"
        ></ng-container>
      }
    </div>
  </div>
}

@if (activePlayer) {
  <div
    class="absolute bottom-1 left-2.5 hw-border p-1.5"
    [class]="activePlayer.me ? 'border-primary' : 'border-secondary'"
  >
    @if (activePlayer.me) {
      <span class="typ-body text-primary!">Your turn</span>
    } @else {
      <div class="flex flex-col gap-1">
        <span class="typ-small">Turn for</span>
        <div class="flex flex-row gap-3 items-center">
          @if (activeHero) {
            <app-who
              [user]="activePlayer"
              [character]="activeHero"
              [master]="activePlayerIsMaster"
            ></app-who>
          }
          @if (activePlayerIsMaster) {
            <app-who [master]="true" [user]="campaignService.campaign().master"></app-who>
            @if (selectedMonster) {
              <app-who-monster [master]="false" [monster]="selectedMonster"></app-who-monster>
              <ng-container
                *ngTemplateOutlet="creatureStatsOutlet; context: { creature: selectedMonster }"
              ></ng-container>
            }
          } @else {
            <ng-container
              *ngTemplateOutlet="creatureStatsOutlet; context: { creature: activeHero }"
            ></ng-container>
          }
        </div>
      </div>
    }
  </div>
}

<ng-template #creatureStatsOutlet let-creature="creature">
  @if (creature) {
    <div class="flex flex-col text-body leading-4.5">
      <div class="flex flex-row justify-between gap-1">
        <span class="text-primary">BP</span>
        <span class="text-primary">{{ creature.bodyPoints }}/{{ creature.maxBodyPoints }}</span>
      </div>
      <div class="flex flex-row justify-between gap-1">
        <span class="text-secondary">MP</span>
        <span class="text-secondary">{{ creature.mindPoints }}/{{ creature.maxMindPoints }}</span>
      </div>
      <div class="flex flex-row justify-between gap-1">
        <span class="text-off-medium">MP</span>
        <span class="text-off-medium"
          >{{ creature.movementPoints }}/{{ creature.maxMovementPoints }}</span
        >
      </div>
    </div>
  }
</ng-template>
