<app-sidebar class="absolute top-7" [buttons]="buttons()"></app-sidebar>

@let activePlayer = dungeonService.activePlayer();
@let master = campaignService.master();
@let activePlayerIsMaster = activePlayer?.id === master.id;
@let activeHero = dungeonService.activeHero();
@let myHero = dungeonService.myHero();
@let selectedMonster = dungeonService.selectedMonster();

@if (myHero) {
  <div class="absolute top-10 left-18 hw-border border-primary p-1.5 bg-background/75">
    <div class="flex flex-row gap-3 items-center">
      <app-who-character
        [user]="authService.user()!"
        [character]="myHero"
        [master]="false"
      ></app-who-character>
      <ng-container
        *ngTemplateOutlet="statsOutlet; context: { creature: myHero, creatureType: myHero.klass }"
      ></ng-container>
    </div>
  </div>
}

@if (master.me) {
  <div
    class="absolute top-10 left-18 max-w-[calc(100vw-82px)] hw-border border-primary p-1.5 bg-background/75"
  >
    <div class="flex flex-row gap-3 items-center">
      @if (selectedMonster) {
        <app-who-monster [master]="true" [monster]="selectedMonster"></app-who-monster>
        <ng-container
          *ngTemplateOutlet="
            statsOutlet;
            context: { creature: selectedMonster, creatureType: selectedMonster.type! }
          "
        ></ng-container>
      } @else {
        <app-who-character
          [master]="true"
          [user]="campaignService.campaign().master"
        ></app-who-character>
      }
    </div>
  </div>
}

@if (activePlayer) {
  <div
    class="absolute bottom-1 left-2.5 hw-border p-1.5 bg-background/75"
    [class]="activePlayer.me ? 'border-primary' : 'border-secondary'"
  >
    @if (activePlayer.me) {
      <span class="typ-body text-primary!">Your turn</span>
    } @else {
      <div class="flex flex-col gap-1">
        <span class="typ-small">Turn for</span>
        <div class="flex flex-row gap-3 items-center">
          @if (activeHero) {
            <app-who-character
              [user]="activePlayer"
              [character]="activeHero"
              [master]="activePlayerIsMaster"
            ></app-who-character>
          }
          @if (activePlayerIsMaster) {
            @if (selectedMonster) {
              <app-who-monster [master]="false" [monster]="selectedMonster"></app-who-monster>
              <ng-container
                *ngTemplateOutlet="
                  statsOutlet;
                  context: { creature: selectedMonster, creatureType: selectedMonster.type! }
                "
              ></ng-container>
            } @else {
              <app-who-character
                [master]="true"
                [user]="campaignService.campaign().master"
              ></app-who-character>
            }
          } @else {
            @if (activeHero) {
              <ng-container
                *ngTemplateOutlet="
                  statsOutlet;
                  context: { creature: activeHero, creatureType: activeHero.klass }
                "
              ></ng-container>
            }
          }
        </div>
      </div>
    }
  </div>
}

<ng-template #statsOutlet let-creature="creature" let-creatureType="creatureType">
  <app-stats
    [bodyPoints]="creature.bodyPoints"
    [maxBodyPoints]="creatureMaxBodyPoints(creatureType, creature.inventory)"
    [mindPoints]="creature.mindPoints"
    [maxMindPoints]="creatureMaxMindPoints(creatureType, creature.inventory)"
    [attackDie]="creatureAttackDie(creatureType, creature.inventory)"
    [defendDie]="creatureDefendDie(creatureType, creature.inventory)"
    [actionPoints]="creature.actionPoints"
    [maxActionPoints]="creatureMaxActionPoints(creatureType, creature.inventory)"
    [movementPoints]="creature.movementPoints"
    [maxMovementPoints]="creature.maxMovementPoints"
    [maxMovementPointsFn]="
      creatureMaxMovementPointsFn(
        creatureType,
        creature.inventory,
        campaignService.campaign().ruleset.movement
      )
    "
  ></app-stats>
</ng-template>
