<app-dialog sizeClass="max-w-md">
  <form>
    <ng-template appDialogTitle>
      <div class="typ-h2">Join campaign</div>
    </ng-template>

    <ng-template appDialogContent>
      <div class="flex flex-col gap-hw-average">
        <div class="typ-body">Choose the name and gender of your character.</div>

        <app-input-text
          [field]="form.name"
          label="Character name"
          type="text"
          autocomplete="off"
          placeholder="Maximum 12 characters"
        ></app-input-text>

        <app-select
          label="Character gender"
          placeholder="Select items"
          [form]="form.gender"
          [displayFn]="genderDisplayFn"
          [options]="genders"
          class="w-[300px] max-w-[500px]"
        />

        <div class="typ-body">Then choose your class, and join the campaign.</div>

        <div class="flex flex-row flex-wrap gap-hw-large">
          @for (klass of klasses; track klass) {
            <div
              class="flex flex-row items-center gap-hw-small cursor-pointer"
              (click)="select(klass)"
            >
              <div
                class="size-10 rounded-full bg-cover bg-center"
                [style.background-image]="`url(${portraits()[klass]})`"
              ></div>

              <div class="typ-body font-bold" [class]="{ 'text-primary!': selected(klass) }">
                {{ klassService.name(klass) }}
              </div>
            </div>
          }
        </div>

        <div>{{ model() | json }}</div>
      </div>
    </ng-template>

    <ng-template appDialogActions>
      <app-button
        label="Cancel"
        type="button"
        appearance="outlined"
        (click)="dialogRef.close(false)"
      ></app-button>
      <app-button
        label="Join"
        type="submit"
        (click)="accept()"
        [disabled]="form().invalid()"
      ></app-button>
    </ng-template>
  </form>
</app-dialog>
