<app-card
  [actions]="actions()"
  [color]="membership().me ? 'primary' : 'secondary'"
  [miniactions]="miniactions()"
>
  <div appCardTitle>
    <div class="flex flex-row justify-between items-center gap-1">
      <app-who-character [user]="membership().user" [character]="character()"></app-who-character>
      <app-stats
        [bodyPoints]="null"
        [maxBodyPoints]="bodyPoints()"
        [mindPoints]="null"
        [maxMindPoints]="mindPoints()"
        [movementPoints]="null"
        [maxMovementPoints]="null"
        [maxMovementPointsFn]="maxMovementPointsFn()"
        [attackDie]="attackDie()"
        [defendDie]="defendDie()"
      ></app-stats>
    </div>
  </div>

  <div appCardBody class="flex flex-col gap-hw-average">
    <app-inventory-manager
      [inventory]="inventory()"
      [showEquip]="membership().me"
      [canEquip]="true"
      (equip)="onEquip($event)"
      [showUnequip]="membership().me"
      [canUnequip]="true"
      (unequip)="onUnequip($event)"
      [showDrop]="membership().me"
      [canDrop]="true"
      (drop)="onDrop($event)"
      [showSellItem]="membership().me"
      [canSellItem]="true"
      (sellItem)="onSellItem($event)"
      [showGiveGold]="!master().me && !membership().me"
      [canGiveGold]="!master().me && myCharacter()!.inventory.backpack.gold > 0"
      (giveGold)="onGiveGold($event)"
      [showDestroyItem]="membership().me"
      [canDestroyItem]="true"
      (destroyItem)="onDestroyItem($event)"
    ></app-inventory-manager>
  </div>
</app-card>
