<app-card
  [actions]="actions()"
  [color]="membership().me ? 'primary' : 'secondary'"
  [miniactions]="miniactions()"
>
  <div appCardTitle>
    <div class="flex flex-row justify-between items-center">
      <app-who [user]="membership().user" [character]="character()"></app-who>

      <div class="flex flex-row justify-end items-center gap-hw-average grow">
        <div class="typ-h2">BP 8</div>
        <div class="typ-h2">|</div>
        <div class="typ-h2">MP 4</div>
      </div>
    </div>
  </div>

  <div appCardBody class="flex flex-col gap-hw-average">
    <div class="typ-body">Inventory</div>
  </div>
</app-card>
