<div class="p-7 bg-background items-center justify-center h-screen w-screen flex flex-col gap-8">
  <div class="flex flex-col gap-5 text-center">
    <div class="text-8xl basis animate-pulse text-shadow-lg text-shadow-warning">🧙‍♂️🌀</div>
    <h1 class="text-warning text-6xl">Where are the Wizards?</h1>
  </div>

  <div class="flex flex-col gap-5">
    <p class="text-off-light text-2xl">The server is currently down.</p>
    <p class="text-off-light text-2xl">Check back later.</p>
  </div>
</div>
