<div class="flex flex-col gap-3">
  @for (slot of slots; track slot) {
    @let item = gear()[slot];
    @if (item) {
      <div
        class="size-10 rounded-full bg-cover bg-center cursor-pointer"
        [style.background-image]="`url(/items/${item.name}.png)`"
        (click)="viewItem(item)"
      ></div>
    } @else {
      <div
        class="size-10 rounded-full bg-cover bg-center border-black border invert"
        [style.background-image]="`url(/slots/${slot}.png)`"
      ></div>
    }
  }
</div>
