<div class="flex flex-col gap-4 justify-center items-center">
  <div class="text-xl text-gray-200">Create an account</div>

  <input
    class="app-input"
    style="caret-shape: block"
    autocomplete="off"
    [formField]="registerForm.handle"
  />

  <input
    class="app-input"
    autocomplete="off"
    style="caret-shape: block"
    type="email"
    [formField]="registerForm.email"
  />
  <input
    class="app-input"
    style="caret-shape: block"
    autocomplete="off"
    type="password"
    [formField]="registerForm.password"
  />

  @if (registerForm.email().pending()) {
    LOADING.........
  }

  @let err = emailError$ | async;
  @if (err) {
    {{ err | json }}
  }

  <button (click)="register()">Register</button>
</div>
