<div class="flex flex-col gap-hw-large">
  <div class="typ-h1 text-center">Create an account</div>

  <form class="flex flex-col gap-hw-xxsmall" [formRoot]="form">
    <app-input-text
      [field]="form.handle"
      label="Handle"
      type="text"
      autocomplete="off"
      placeholder="Who are you?"
    ></app-input-text>

    <app-input-text
      [field]="form.email"
      label="Email"
      type="email"
      autocomplete="username"
      placeholder="Your email address"
    ></app-input-text>

    <app-input-text
      [field]="form.password"
      label="Password"
      type="password"
      autocomplete="new-password"
      placeholder="Your password"
    ></app-input-text>

    <app-input-text
      [field]="form.passwordRepeat"
      label="Confirm your password"
      type="password"
      autocomplete="new-password"
      placeholder="Your password"
    ></app-input-text>

    <app-button
      label="Register"
      [disabled]="form().invalid() || form().pending() || form().submitting()"
      type="submit"
      class="self-center"
    ></app-button>
  </form>

  <app-link class="self-center" label="Already have an account?" to="/auth/login"></app-link>
</div>
