<div class="flex flex-row items-start gap-3">
  <app-gear-manager
    [gear]="inventory().gear"
    [showUnequip]="showUnequip()"
    [canUnequip]="canUnequip()"
    (unequip)="unequip.emit($event)"
  ></app-gear-manager>
  <div class="h-[404px] separator-l separator-secondary"></div>
  <app-backpack-manager
    title="Backpack"
    [gear]="inventory().gear"
    [backpack]="inventory().backpack"
    [showEquip]="showEquip()"
    [canEquip]="canEquip()"
    (equip)="equip.emit($event)"
    [showDropItem]="showDropItem()"
    [canDropItem]="canDropItem()"
    (dropItem)="dropItem.emit($event)"
    [showSellItem]="showSellItem()"
    [canSellItem]="canSellItem()"
    (sellItem)="sellItem.emit($event)"
    [showGiveGold]="showGiveGold()"
    [canGiveGold]="canGiveGold()"
    (giveGold)="giveGold.emit($event)"
    [showDestroyItem]="showDestroyItem()"
    [canDestroyItem]="canDestroyItem()"
    (destroyItem)="destroyItem.emit($event)"
    class="grow"
  ></app-backpack-manager>
</div>
