<div class="fixed inset-0 z-2 flex items-center justify-center p-4 backdrop-blur-xs">
  <div
    class="w-full hw-border border-primary bg-background max-h-full flex flex-col"
    [class]="sizeClass()"
  >
    <div class="p-hw-average pb-0 shrink-0">
      <div class="flex flex-row justify-between items-center">
        <ng-container [ngTemplateOutlet]="titleTemplate()"></ng-container>
      </div>
      <div class="separator-b separator-secondary mt-hw-small"></div>
    </div>

    <div class="p-hw-average overflow-y-auto min-h-0 custom-scrollbar overflow-visible">
      <ng-container [ngTemplateOutlet]="contentTemplate()"></ng-container>
    </div>

    @if (hasActions()) {
      <div class="p-hw-average">
        <div class="flex flex-row flex-wrap justify-end gap-hw-small">
          <ng-container [ngTemplateOutlet]="actionsTemplate()"></ng-container>
        </div>
      </div>
    }
  </div>
</div>
