<app-button (click)="toggle()" [disabled]="disabled()" [icon]="icon()"> </app-button>

@if (open()) {
  <div
    class="flex flex-col justify-start items-stretch gap-hw-small fixed mt-hw-xsmall bg-background hw-border border-primary p-hw-xsmall"
  >
    @for (item of items(); track item.label) {
      <app-button
        [icon]="item.icon"
        [disabled]="!!item.disabled"
        [label]="item.label"
        [color]="item.color || 'primary'"
        buttonClasses="w-full"
      ></app-button>
    }
  </div>
}
