<form [formRoot]="form">
  <app-dialog sizeClass="max-w-md">
    <ng-template appDialogTitle>
      <div class="typ-h2">Edit cell</div>
    </ng-template>

    <ng-template appDialogContent>
      <div class="flex flex-col gap-hw-average">
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Base sprite</div>
          <app-select
            label="Base sprite path"
            placeholder="Select base sprite path"
            [form]="form.baseSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="baseSpritePaths"
            [hasValidation]="false"
          />
          <div class="flex flex-row start items-center gap-1.5">
            <app-button
              label="Random floor"
              type="button"
              appearance="outlined"
              (click)="randomFloor()"
            ></app-button>

            <app-button
              label="Random water"
              type="button"
              appearance="outlined"
              (click)="randomWater()"
            ></app-button>
          </div>
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Feature</div>
          <app-select
            label="Feature sprite path"
            placeholder="Select feature sprite path"
            [form]="form.featureSpritePath!"
            [displayFn]="spritePathDisplayFn"
            [options]="featureSpritePaths"
            [canClearSingle]="true"
          />
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Door</div>
          <app-select
            label="Door sprite path"
            placeholder="Select door sprite path"
            [form]="form.doorSpritePath!"
            [displayFn]="spritePathDisplayFn"
            [options]="doorSpritePaths"
            [canClearSingle]="true"
          />
        </div>

        <pre class="typ-small break-all whitespace-break-spaces">{{ result() | json }}</pre>
      </div>
    </ng-template>

    <ng-template appDialogActions>
      <app-button
        label="Cancel"
        type="button"
        appearance="outlined"
        (click)="dialogRef.close(undefined)"
      ></app-button>

      <app-button
        label="Delete"
        type="button"
        color="warning"
        (click)="dialogRef.close(null)"
      ></app-button>

      <app-button
        label="Accept"
        type="submit"
        [disabled]="form().invalid() || !form().dirty()"
      ></app-button>
    </ng-template>
  </app-dialog>
</form>
