<form [formRoot]="form">
  <app-dialog sizeClass="max-w-md">
    <ng-template appDialogTitle>
      <div class="typ-h2">Edit cell</div>
    </ng-template>

    <ng-template appDialogContent>
      <div class="flex flex-col gap-hw-average">
        <div class="flex flex-col gap-hw-average">
          @if (data.cell.secondary) {
            <div class="typ-body text-warning!">This is a secondary cell.</div>
          }

          <div class="typ-h2">Base sprite</div>
          <app-select
            label="Base sprite path"
            placeholder="Select base sprite path"
            [form]="form.baseSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="baseSpritePaths"
            [hasValidation]="false"
          />
          <div class="flex flex-row start items-center gap-1.5">
            <app-button
              label="Random floor"
              type="button"
              appearance="outlined"
              (click)="randomFloor()"
            ></app-button>

            <app-button
              label="Random water"
              type="button"
              appearance="outlined"
              (click)="randomWater()"
            ></app-button>
          </div>
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Feature</div>
          <app-select
            label="Feature sprite path"
            placeholder="Select feature sprite path"
            [form]="form.featureSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="featureSpritePaths"
            [canClearSingle]="true"
          />
          @let featureSpritePath = model().featureSpritePath;
          @if (featureSpritePath && featureSpriteTrappable[featureSpritePath]) {
            <div class="flex flex-col gap-0">
              <app-checkbox [field]="form.featureTrapped" label="Trapped"></app-checkbox>
            </div>
          }
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Door</div>
          <app-select
            label="Door sprite path"
            placeholder="Select door sprite path"
            [form]="form.doorSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="doorSpritePaths"
            [canClearSingle]="true"
          />
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Monster</div>
          <app-select
            label="Monster"
            placeholder="Select monster"
            [form]="form.monsterType"
            [displayFn]="monsterTypeDisplayFn"
            [options]="monsterTypes"
            [canClearSingle]="true"
          />
          <app-select
            label="Direction"
            placeholder="Select direction"
            [form]="form.monsterDirection"
            [displayFn]="directionDisplayFn"
            [options]="directions"
            [canClearSingle]="false"
          />
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Floor trap</div>
          <app-select
            label="Floor trap sprite path"
            placeholder="Select floor trap sprite path"
            [form]="form.floorTrapSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="floorTrapSpritePaths"
            [canClearSingle]="true"
          />
          <div class="flex flex-row start items-center gap-1.5">
            <app-button
              label="Random floor trap"
              type="button"
              appearance="outlined"
              (click)="randomFloorTrap()"
            ></app-button>
          </div>
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Stairs</div>
          <app-select
            label="Stairs sprite path"
            placeholder="Select stairs sprite path"
            [form]="form.stairsSpritePath"
            [displayFn]="spritePathDisplayFn"
            [options]="stairsSpritePaths"
            [canClearSingle]="true"
          />
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Spawn point</div>
          <div class="flex flex-col gap-0">
            <app-checkbox [field]="form.spawn" label="Spawn point"></app-checkbox>
            @let error = form.spawn().errors()[0];
            @if (error) {
              <div class="typ-small text-warning!">{{ error.message }}</div>
            }
          </div>
        </div>
        <div class="flex flex-col gap-hw-average">
          <div class="typ-h2">Corners</div>
          <div class="flex flex-col gap-0">
            <app-checkbox [field]="form.cornerN" label="Corner north"></app-checkbox>
            <app-checkbox [field]="form.cornerE" label="Corner east"></app-checkbox>
            <app-checkbox [field]="form.cornerS" label="Corner south"></app-checkbox>
            <app-checkbox [field]="form.cornerW" label="Corner west"></app-checkbox>
          </div>
        </div>
        <pre class="typ-small break-all whitespace-break-spaces">{{ result() | json }}</pre>
      </div>
    </ng-template>

    <ng-template appDialogActions>
      <app-button
        label="Cancel"
        type="button"
        appearance="outlined"
        (click)="dialogRef.close(undefined)"
      ></app-button>

      <app-button
        label="Delete"
        type="button"
        color="warning"
        [disabled]="!!data.cell.secondary"
        (click)="dialogRef.close(null)"
      ></app-button>

      <app-button
        label="Accept"
        type="submit"
        [disabled]="form().invalid() || !form().dirty()"
      ></app-button>
    </ng-template>
  </app-dialog>
</form>
