<div class="app-toast-container-wrapper">
  @for (toast of toastService.queue(); track toast.id) {
    <div
      (click)="toastService.remove(toast.id)"
      (mouseenter)="toastService.pauseTimer(toast.id)"
      (mouseleave)="toastService.startTimer(toast.id, toast.duration)"
      class="app-toast-container-toast"
      [class]="toast.type"
    >
      <span class="typ-toast">{{ toast.message }}</span>

      <div class="flex items-center gap-3">
        @for (action of toast.actions; track action.label) {
          <app-button
            [label]="action.label"
            [type]="action.type"
            (click)="action.callback()"
          ></app-button>
        }
      </div>

      @if (toast.timerId) {
        <div
          class="app-toast-container-fuse"
          [class]="toast.type"
          [style.animation-duration.ms]="toast.duration"
          [style.animation-play-state]="'running'"
        ></div>
      }
    </div>
  }
</div>
