<div class="hw-border h-full flex flex-col p-hw-average gap-hw-average" [class]="color()">
  <div class="pb-hw-average separator-b" [class]="`separator-${separatorColor()}`">
    <div class="flex flex-row justify-between items-center gap-hw-small">
      <ng-content select="[appCardTitle]"></ng-content>
      @if (miniactions().length) {
        <div class="flex flex-row justify-end items-center gap-hw-small">
          @for (miniaction of miniactions(); track $index) {
            <app-button
              [icon]="miniaction.icon"
              (click)="miniaction.action()"
              [color]="miniaction.color || 'primary'"
            ></app-button>
          }
        </div>
      }
    </div>
  </div>

  <div class="grow">
    <ng-content select="[appCardBody]"></ng-content>
  </div>

  <div
    class="pt-hw-average flex flex-row items-center justify-end gap-hw-small"
    [class]="actions().length ? 'border-t border-off-medium' : ''"
  >
    @for (action of actions(); track $index) {
      <app-button
        [label]="action.label"
        [color]="action.color || 'primary'"
        (click)="action.action()"
      ></app-button>
    }
  </div>
</div>
