<div class="m-5 flex flex-col gap-1">
  <div class="text-scream">text-scream</div>

  <div class="text-h1">text-h1</div>

  <div class="text-h2">text-h2</div>

  <div class="text-body">text-body</div>

  <div class="text-body-muted">text-body-muted</div>

  <div class="text-small">text-small</div>

  <div class="text-code">text-code</div>

  <app-button label="Primary enabled"></app-button>
  <div class="flex flex-row gap-1 flex-wrap">
    <app-button label="Primary disabled" [disabled]="true"></app-button>

    <app-button label="Secondary enabled" type="secondary"></app-button>

    <app-button label="Secondary disabled" [disabled]="true" type="secondary"></app-button>

    <app-button label="Warning enabled" type="warning"></app-button>

    <app-button label="Warning disabled" [disabled]="true" type="warning"></app-button>
  </div>

  <app-input-text
    [field]="form.test"
    label="Handle or email address"
    type="text"
    autocomplete="username"
    placeholder="Identifier"
  ></app-input-text>
</div>
