<div class="m-5 flex flex-col gap-hw-xlarge">
  <div class="typ-scream">typ-scream typ-scream typ-scream</div>

  <div class="typ-h1">typ-h1 typ-h1 typ-h1 typ-h1 typ-h1</div>

  <div class="typ-h2">typ-h2 typ-h2 typ-h2 typ-h2 typ-h2 typ-h2 typ-h2 typ-h2</div>

  <div class="typ-body">typ-body typ-body typ-body typ-body typ-body typ-body typ-body</div>

  <div class="typ-small">
    typ-small typ-small typ-small typ-small typ-small typ-small typ-small typ-small
  </div>

  <div class="typ-code">typ-code typ-code typ-code typ-code typ-code typ-code typ-code</div>

  <div class="flex flex-row gap-2 flex-wrap">
    <app-button label="Primary enabled"></app-button>

    <app-button label="Primary disabled" [disabled]="true"></app-button>

    <app-button label="Secondary enabled" color="secondary"></app-button>

    <app-button label="Secondary disabled" [disabled]="true" color="secondary"></app-button>

    <app-button label="Warning enabled" color="warning"></app-button>

    <app-button label="Warning disabled" [disabled]="true" color="warning"></app-button>
  </div>

  <div class="flex flex-row gap-hw-small flex-wrap">
    <app-input-text
      [field]="form.emptyEnabled"
      label="Empty enabled"
      type="text"
      autocomplete="off"
      placeholder="Placeholder"
    ></app-input-text>

    <app-input-text
      [field]="form.filledEnabled"
      label="Filled enabled"
      type="text"
      autocomplete="off"
      placeholder="Placeholder"
    ></app-input-text>

    <app-input-text
      [field]="form.disabled"
      label="Disabled"
      type="text"
      autocomplete="off"
      placeholder="Placeholder"
    ></app-input-text>
  </div>

  <div class="typ-body">
    Some text with a
    <app-link label="Link primary" [to]="[]"></app-link>
    and a
    <app-link label="Link secondary" color="secondary" [to]="[]"></app-link>
    .
  </div>

  <div class="flex flex-row gap-hw-small flex-wrap">
    <app-button label="Toast infinite" (click)="toastInfinite()"></app-button>

    <app-button label="Toast 4s" (click)="toast4s()"></app-button>

    <app-button label="Toast with actions" (click)="toastWithActions()"></app-button>

    <app-button label="Secondary toast" color="secondary" (click)="toastSecondary()"></app-button>

    <app-button label="Warning toast" color="warning" (click)="toastWarning()"></app-button>
  </div>

  <div class="flex flex-row gap-hw-small flex-wrap">
    <app-checkbox [field]="form.checkbox1" label="Primary checkbox"></app-checkbox>

    <app-checkbox
      [field]="form.checkbox2"
      color="secondary"
      label="Secondary checkbox"
    ></app-checkbox>

    <app-checkbox [field]="form.checkbox3" color="warning" label="Warning checkbox"></app-checkbox>

    <app-checkbox [field]="form.checkbox4" color="primary" label="Disabled checkbox"></app-checkbox>
  </div>

  <div class="flex flex-row gap-hw-small flex-wrap">
    <app-select
      label="Select with api call"
      placeholder="Select items"
      [form]="itemsForm1"
      [(searchField)]="searchModel1"
      [options]="options1()"
      [trackFn]="trackFn"
      [displayFn]="displayFn"
      [multiple]="true"
      [loading]="resource.isLoading()"
      class="w-[300px] max-w-[500px]"
    />

    <app-select
      label="Select from static list"
      placeholder="Select items"
      [form]="itemsForm2"
      [options]="selectItems"
      [trackFn]="trackFn"
      [displayFn]="displayFn"
      [multiple]="true"
      class="w-[300px] max-w-[500px]"
    />
  </div>
</div>
