<div class="max-w-6xl mx-auto p-hw-average pt-0 flex flex-col gap-hw-large">
  <div class="sticky top-0 z-1 w-full bg-background separator-b separator-secondary py-hw-average">
    <div class="flex flex-row justify-between items-center gap-hw-average">
      <div class="flex flex-col truncate">
        <div class="typ-h1 truncate">{{ campaignService.campaign().name }}</div>
        <div class="typ-body truncate">In town</div>
      </div>

      <div class="flex justify-end gap-hw-small">
        <app-user-menu></app-user-menu>
        <app-button icon="arrow-uturn-left" (click)="back()"></app-button>
      </div>
    </div>
  </div>

  <div class="flex flex-row items-center gap-hw-large">
    <app-who [master]="true" [user]="campaignService.campaign().master"></app-who>
    <div class="typ-body">Here you can rest and prepare for your next adventure.</div>
  </div>

  <div class="typ-h2 text-primary!">The adventurers</div>

  @let activeMemberships = campaignService.activeMemberships();
  @if (!activeMemberships.length) {
    <div class="typ-body italic">No adventurers have come yet</div>
  }

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-hw-average">
    @for (membership of activeMemberships; track membership.id) {
      <app-town-membership [membership]="membership"> </app-town-membership>
    }
  </div>

  @let pendingMemberships = campaignService.pendingMemberships();
  @if (pendingMemberships.length) {
    <div class="typ-h2 text-primary!">Adventurers who may yet come</div>

    <div class="flex flex-row flex-wrap gap-x-hw-average gap-y-hw-small">
      @for (membership of pendingMemberships; track membership.id) {
        <app-who [user]="membership.user"></app-who>
      }
    </div>
  }

  <app-adventure-picker [master]="campaignService.campaign().master.me"></app-adventure-picker>
</div>
