<div class="flex flex-col gap-xxsm">
  <label [for]="id" class="typ-small">{{ label() }}</label>

  <div class="relative flex group">
    <input
      [id]="id"
      class="app-input-text typ-input"
      [type]="type()"
      [formField]="field()"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [aria-invalid]="displayError() ? 'true' : null"
      [aria-describedby]="displayError() ? `error-${id}` : null"
      (focus)="state().markAsTouched()"
    />

    <div class="relative top-2.5 right-8" [class]="{ invisible: state().pending() }">
      <div class="spinner"></div>
    </div>
  </div>

  <div class="h-5">
    @if (displayError()) {
      <div role="alert" [id]="`error-${id}`" class="typ-error">
        {{ error().message }}
      </div>
    }
  </div>
</div>
