@reference "../../../styles.css";

.app-input-text {
  @apply rounded-tr-3xl
         rounded-bl-lg
         bg-transparent
         border-4
         focus:outline-0
         focus:bg-primary
         border-primary
         h-10;

  &.has-validation {
    @apply pl-hw-small;
  }

  &::selection {
    @apply bg-off-medium;
  }

  &:disabled {
    @apply border-off-medium;
  }

  caret-shape: block;
}
