<div class="flex flex-col">
  <label [for]="id" class="typ-small truncate w-0 min-w-full">{{ label() }}</label>

  <div class="relative flex group">
    <input
      [id]="id"
      class="app-input-text typ-input w-full hw-border"
      [type]="type()"
      [formField]="field()"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [aria-invalid]="errorVisibility() ? 'true' : null"
      [aria-describedby]="errorVisibility() ? `error-${id}` : null"
      (focus)="state().markAsTouched()"
      [class]="{ 'has-validation': hasValidation() }"
    />

    <div
      class="absolute inset-y-0 right-3 flex items-center pointer-events-none"
      [class.invisible]="!state().pending() && !loading()"
    >
      <div class="spinner"></div>
    </div>
  </div>

  @if (hasValidation()) {
    <div
      role="alert"
      [id]="`error-${id}`"
      class="typ-error truncate w-0 min-w-full"
      [class]="{ invisible: !errorVisibility() }"
    >
      {{ error() ? error().message : 'Placeholder' }}
    </div>
  }
</div>
