<app-dialog sizeClass="max-w-3xl">
  <ng-template appDialogTitle>
    <div class="flex flex-row gap-3 items-center">
      @if (creature().alignment === 'HERO') {
        <app-who-character
          [user]="data.user!"
          [character]="hero()"
          [master]="false"
        ></app-who-character>
        <ng-container
          *ngTemplateOutlet="statsOutlet; context: { creature: hero(), creatureType: hero().klass }"
        ></ng-container>
      } @else {
        <app-who-monster [master]="true" [monster]="monster()"></app-who-monster>
        <ng-container
          *ngTemplateOutlet="
            statsOutlet;
            context: { creature: monster(), creatureType: monster().type! }
          "
        ></ng-container>
      }
    </div>
  </ng-template>

  <ng-template appDialogContent>
    <app-inventory-manager
      [inventory]="creature().inventory"
      [showEquip]="data.user?.me || false"
      [canEquip]="creature().movementPoints >= 1"
      (equip)="onEquip($event)"
      [showUnequip]="data.user?.me || false"
      [canUnequip]="creature().movementPoints >= 1"
      (unequip)="onUnequip($event)"
      [showDropItem]="data.user?.me || false"
      [canDropItem]="creature().movementPoints >= 1"
      (dropItem)="onDropItem($event)"
      [showSellItem]="false"
      [canSellItem]="true"
      [showGiveGold]="false"
      [showDestroyItem]="data.user?.me || false"
      [canDestroyItem]="true"
      (destroyItem)="onDestroyItem($event)"
    ></app-inventory-manager>
  </ng-template>

  <ng-template appDialogActions>
    <app-button label="Close" type="button" (click)="dialogRef.close()"></app-button>
  </ng-template>
</app-dialog>

<ng-template #statsOutlet let-creature="creature" let-creatureType="creatureType">
  <app-stats
    [bodyPoints]="creature.bodyPoints"
    [maxBodyPoints]="creatureMaxBodyPoints(creatureType, creature.inventory)"
    [mindPoints]="creature.mindPoints"
    [maxMindPoints]="creatureMaxMindPoints(creatureType, creature.inventory)"
    [attackDie]="creatureAttackDie(creatureType, creature.inventory)"
    [defendDie]="creatureDefendDie(creatureType, creature.inventory)"
    [actionPoints]="creature.actionPoints"
    [maxActionPoints]="creatureMaxActionPoints(creatureType, creature.inventory)"
    [movementPoints]="creature.movementPoints"
    [maxMovementPoints]="creature.maxMovementPoints"
    [maxMovementPointsFn]="
      creatureMaxMovementPointsFn(
        creatureType,
        creature.inventory,
        data.campaign().ruleset.movement
      )
    "
  ></app-stats>
</ng-template>
