<app-dialog sizeClass="max-w-3xl">
  <ng-template appDialogTitle>
    <div class="flex flex-row gap-3 items-center">
      @if (data.creature.alignment === 'HERO') {
        <app-who-character
          [user]="data.user!"
          [character]="hero"
          [master]="false"
        ></app-who-character>
      } @else {
        <app-who-monster [master]="true" [monster]="monster"></app-who-monster>
      }
      <!-- <ng-container
        *ngTemplateOutlet="creatureStatsOutlet; context: { creature: myHero, key: myHero.klass }"
      ></ng-container> -->
    </div>
  </ng-template>

  <ng-template appDialogContent> </ng-template>

  <ng-template appDialogActions>
    <app-button label="Close" type="button" (click)="dialogRef.close()"></app-button>
  </ng-template>
</app-dialog>
