<app-dialog sizeClass="max-w-3xl">
  <ng-template appDialogTitle>
    <div class="flex flex-row gap-3 items-center">
      @if (data.creature.alignment === 'HERO') {
        <app-who-character
          [user]="data.user!"
          [character]="hero"
          [master]="false"
        ></app-who-character>
      } @else {
        <app-who-monster [master]="true" [monster]="monster"></app-who-monster>
      }
      <app-creature-stats [creature]="data.creature"></app-creature-stats>
    </div>
  </ng-template>

  <ng-template appDialogContent>
    <app-inventory-manager
      [inventory]="data.creature.inventory"
      [showEquip]="data.user?.me || false"
      [canEquip]="data.creature.movementPoints > 1"
      (equip)="onEquip($event)"
      [showUnequip]="data.user?.me || false"
      [canUnequip]="data.creature.movementPoints > 1"
      (unequip)="onUnequip($event)"
      [showDrop]="data.user?.me || false"
      [canDrop]="data.creature.movementPoints > 1"
      (drop)="onDrop($event)"
      [showSellItem]="false"
      [canSellItem]="true"
      [showGiveGold]="false"
      [showDestroyItem]="data.user?.me || false"
      [canDestroyItem]="true"
      (destroyItem)="onDestroyItem($event)"
    ></app-inventory-manager>
  </ng-template>

  <ng-template appDialogActions>
    <app-button label="Close" type="button" (click)="dialogRef.close()"></app-button>
  </ng-template>
</app-dialog>
