<app-card [actions]="actions()" [miniactions]="miniactions()">
  <div appCardTitle>
    <div class="typ-h2 truncate">{{ campaign().name }}</div>
    <div class="typ-body truncate">{{ adventure()?.template?.name }}</div>
  </div>
  <div appCardBody class="flex flex-col gap-hw-average">
    <app-who [master]="true" [user]="campaign().master"></app-who>
    <div class="flex flex-col xl:flex-row gap-hw-average">
      @if (activeMemberships().length) {
        <div class="flex flex-col gap-hw-small grow">
          <span class="typ-body whitespace-nowrap">Active members</span>
          <div class="flex flex-row flex-wrap gap-x-hw-average gap-y-hw-small">
            @for (membership of activeMemberships(); track membership.id) {
              <app-who
                [user]="membership.user"
                [character]="membership.character"
                (click)="clickMembership(membership)"
                [class]="{ 'cursor-pointer': meMaster() }"
              ></app-who>
            }
          </div>
        </div>
      }

      @if (pendingMemberships().length) {
        <div class="flex flex-col gap-hw-small grow">
          <span class="typ-body whitespace-nowrap">Active members</span>

          <div class="flex flex-row flex-wrap gap-x-hw-average gap-y-hw-small">
            @for (membership of pendingMemberships(); track membership.id) {
              <app-who
                [user]="membership.user"
                (click)="clickMembership(membership)"
                [class]="{ 'cursor-pointer': meMaster() }"
              ></app-who>
            }
          </div>
        </div>
      }

      @if (!activeMemberships().length && !pendingMemberships().length) {
        <span class="typ-body">No members invited yet</span>
      }
    </div>
  </div>
</app-card>
