<form [formRoot]="form">
  <app-dialog sizeClass="max-w-md">
    <ng-template appDialogTitle>
      <div class="typ-h2">
        {{
          data.type === 'drop'
            ? 'Add gold to the stash'
            : data.type === 'give'
              ? 'Give gold to character'
              : 'Take gold from stash'
        }}
      </div>
    </ng-template>

    <ng-template appDialogContent>
      <div class="flex flex-col gap-hw-average">
        <div class="typ-body">
          @if (data.type === 'drop' || data.type === 'pickup') {
            There are {{ data.amount }} gold coins in the stash.
          } @else {
            You have {{ data.amount }} gold coins.
          }
          {{
            data.type === 'drop'
              ? 'Add how many'
              : data.type === 'give'
                ? 'Give how many?'
                : 'Take how many?'
          }}
        </div>
        <app-input-text
          [field]="form"
          [label]="
            data.type === 'drop'
              ? 'Gold coins to add'
              : data.type === 'give'
                ? 'Gold coins to give'
                : 'Gold coins to take'
          "
          type="number"
          placeholder="Amount"
        ></app-input-text>
      </div>
    </ng-template>

    <ng-template appDialogActions>
      <app-button
        label="Cancel"
        type="button"
        (click)="dialogRef.close()"
        appearance="outlined"
      ></app-button>
      @if (data.type === 'give' || data.type === 'pickup') {
        <app-button
          [label]="data.type === 'give' ? 'Give all' : 'Take all'"
          type="button"
          (click)="dialogRef.close(data.amount)"
          appearance="outlined"
        ></app-button>
      }
      <app-button
        [label]="data.type === 'drop' ? 'Add' : data.type === 'give' ? 'Give' : 'Take'"
        type="submit"
        [disabled]="form().invalid()"
      ></app-button
    ></ng-template>
  </app-dialog>
</form>
