<app-card [title]="campaign().name" [actions]="actions()">
  <div appCardBody class="flex flex-col gap-hw-average">
    <div class="flex flex-row items-center gap-hw-small">
      <div
        class="size-10 rounded-full bg-cover bg-center"
        [style.background-image]="'url(/characters/zargon.png)'"
      ></div>

      <div class="grow">
        <div class="typ-small truncate opacity-70">Master</div>
        <div class="typ-body font-bold hw-truncate">
          {{ master().handle }}
        </div>
      </div>
    </div>

    <div class="flex flex-col xl:flex-row gap-hw-average">
      @if (activeMemberships().length) {
        <ng-container
          *ngTemplateOutlet="
            listOutlet;
            context: { memberships: activeMemberships(), title: 'Active members' }
          "
        ></ng-container>
      }

      @if (pendingMemberships().length) {
        <ng-container
          *ngTemplateOutlet="
            listOutlet;
            context: { memberships: pendingMemberships(), title: 'Pending members' }
          "
        ></ng-container>
      }

      @if (!activeMemberships().length && !pendingMemberships().length) {
        <span class="typ-body">No members invited yet</span>
      }
    </div>
  </div>

  <ng-template #listOutlet let-memberships="memberships" let-title="title">
    <div class="flex flex-col gap-hw-small grow">
      <span class="typ-body">{{ title }}</span>

      <div class="flex flex-row flex-wrap gap-x-hw-average gap-y-hw-small">
        @for (membership of memberships; track membership.id) {
          <div class="flex flex-row items-center gap-hw-small min-w-0">
            <div
              class="size-10 rounded-full bg-cover bg-center"
              [style.background-image]="
                membership.status === 'PENDING'
                  ? 'url(/characters/pending.gif)'
                  : `url(${klassesService.portrait(membership.character.klass, membership.character.gender)})`
              "
            ></div>

            <div class="min-w-0 grow">
              @if (membership.status === 'ACTIVE') {
                <div class="typ-small truncate opacity-70">
                  {{ klassesService.name(membership.character.klass) }}
                </div>
              }
              <div class="typ-body font-bold truncate">
                {{ membership.user.handle }}
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </ng-template>
</app-card>
