<app-card [title]="campaign().name" [actions]="actions()" [miniactions]="miniactions()">
  <div appCardBody class="flex flex-col gap-hw-average">
    <ng-container
      *ngTemplateOutlet="
        userOutlet;
        context: {
          image: '/characters/zargon.png',
          klass: 'Master',
          handle: master().handle,
          name: 'Zargon',
          me: master().me,
        }
      "
    ></ng-container>

    <div class="flex flex-col xl:flex-row gap-hw-average">
      @if (activeMemberships().length) {
        <ng-container
          *ngTemplateOutlet="
            listOutlet;
            context: { memberships: activeMemberships(), title: 'Active members' }
          "
        ></ng-container>
      }

      @if (pendingMemberships().length) {
        <ng-container
          *ngTemplateOutlet="
            listOutlet;
            context: { memberships: pendingMemberships(), title: 'Pending members' }
          "
        ></ng-container>
      }

      @if (!activeMemberships().length && !pendingMemberships().length) {
        <span class="typ-body">No members invited yet</span>
      }
    </div>
  </div>

  <ng-template #listOutlet let-memberships="memberships" let-title="title">
    <div class="flex flex-col gap-hw-small grow">
      <span class="typ-body whitespace-nowrap">{{ title }}</span>

      <div class="flex flex-row flex-wrap gap-x-hw-average gap-y-hw-small">
        @for (membership of memberships; track membership.id) {
          <ng-container
            *ngTemplateOutlet="
              userOutlet;
              context: {
                image:
                  membership.status === 'ACTIVE'
                    ? klassesService.portrait(
                        membership.character.klass,
                        membership.character.gender
                      )
                    : '/characters/pending.gif',
                klass:
                  membership.status === 'ACTIVE'
                    ? klassesService.name(membership.character.klass)
                    : 'No class',
                handle: membership.user.handle,
                name: membership.status === 'ACTIVE' ? membership.character.name : 'No name',
                me: membership.user.me,
                click: () => toggleMembership(membership, false),
              }
            "
          ></ng-container>
        }
      </div>
    </div>
  </ng-template>

  <ng-template
    #userOutlet
    let-image="image"
    let-klass="klass"
    let-handle="handle"
    let-name="name"
    let-me="me"
    let-click="click"
  >
    <div
      class="flex flex-row items-center gap-hw-small min-w-0"
      [class]="{ 'cursor-pointer': !!click && isMaster() }"
      (click)="isMaster() && click?.()"
    >
      <div
        class="size-10 rounded-full bg-cover bg-center"
        [style.background-image]="`url(${image})`"
      ></div>

      <div class="flex flex-col justify-center min-w-0 grow">
        <div class="typ-small truncate opacity-70">
          {{ klass }}
        </div>
        <div class="typ-body font-bold truncate" [class]="{ 'text-primary!': me }">
          {{ handle }}
        </div>
        <div class="typ-small truncate opacity-70">
          {{ name }}
        </div>
      </div>
    </div>
  </ng-template>
</app-card>
