.anchored {
  position: fixed;
  top: anchor(bottom);
  left: anchor(left);
  width: anchor-size(width);
  position-try-fallbacks: flip-block;
}

.app-select {
  &:disabled .caret {
    @apply opacity-70;
  }
}
