<div class="flex flex-col relative">
  <label class="typ-small mb-hw-xxsmall">{{ label() }}</label>

  <div class="relative flex group">
    <button
      type="button"
      (click)="toggle()"
      [disabled]="field()().disabled()"
      class="app-select-trigger typ-input w-full hw-border pl-hw-small pr-10 text-left"
      [class.active]="isOpen()"
    >
      <span class="truncate">{{ displayText() }}</span>
      <div class="spinner absolute right-3" *ngIf="loading()"></div>
    </button>

    @if (isOpen()) {
      <div
        class="absolute z-50 w-full top-11 bg-background hw-border border-primary shadow-2xl overflow-hidden animate-in"
      >
        @if (searchable()) {
          <div class="p-2 separator-b separator-primary">
            <input
              type="text"
              class="w-full bg-off-dark/30 typ-small p-2 outline-none border-none placeholder:text-off-medium"
              placeholder="Search..."
              [value]="searchTerm()"
              (input)="searchTerm.set($any($event.target).value)"
              autofocus
            />
          </div>
        }

        <ul class="max-h-48 overflow-y-auto py-1 custom-scrollbar">
          @for (opt of filteredOptions(); track opt.value) {
            <li
              (click)="select(opt)"
              class="px-hw-small py-2 cursor-pointer typ-body hover:bg-primary hover:text-background flex justify-between"
            >
              {{ opt.label }}
              <span *ngIf="multiple() && field()().value().includes(opt.value)">✓</span>
            </li>
          } @empty {
            <li class="px-hw-small py-2 typ-small text-off-medium italic">No results found</li>
          }
        </ul>
      </div>
    }
  </div>
</div>
