<div class="flex flex-col h-[404px]">
  <div class="flex flex-row justify-between items-center shrink-0">
    @if (title()) {
      <div class="typ-body">{{ title() }}</div>
    }
    <div class="flex flex-row justify-end items-center gap-2">
      @if (showPickupGold()) {
        <app-button
          icon="cash-in"
          (click)="pickupGoldAmount()"
          [disabled]="!canPickupGold()"
        ></app-button>
      }
      @if (showDropGold()) {
        <app-button
          icon="cash-out"
          (click)="dropGoldAmount()"
          [disabled]="!canDropGold()"
        ></app-button>
      }
      @if (showGiveGold()) {
        <app-button
          icon="circle-stack"
          (click)="giveGoldAmount()"
          [disabled]="!canGiveGold()"
        ></app-button>
      }
      <div class="typ-small text-primary!">Gold: {{ backpack().gold }}</div>
    </div>
  </div>

  <div class="flex flex-col gap-3 overflow-y-auto custom-scrollbar mt-3">
    @for (item of backpack().items; track item.id) {
      <div class="flex flex-row gap-2 items-center cursor-pointer" (click)="viewItem(item)">
        <div
          class="size-10 shrink-0 rounded-full bg-cover bg-center"
          [style.background-image]="`url(/items/${item.name}.png)`"
        ></div>
        <div class="typ-body truncate">{{ item.name }}</div>
      </div>
    } @empty {
      <div class="mat-small text-secondary!">No items</div>
    }
  </div>
</div>
