<app-dialog size="md" (close)="ref.close()">
  <span appDialogTitle class="typ-h2 text-warning">Invite</span>

  <span appDialogContent>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
    <div class="typ-body">
      YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES
      OR NO YES OR NO YES OR NO YES OR NO YES OR NO YES OR NO
    </div>
  </span>

  <div appDialogActions class="contents">
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
    <app-button label="Confirm" (click)="ref.close(true)"></app-button>
  </div>
</app-dialog>
