<div class="flex flex-col gap-avg justify-center items-center">
  <div class="typ-h1">Login</div>

  <div class="flex flex-col justify-center items-center gap-xsm">
    <app-input-text
      [field]="form.email"
      label="Handle or email address"
      type="text"
      autocomplete="username"
      placeholder="Identifier"
    ></app-input-text>

    <app-input-text
      [field]="form.password"
      label="Password"
      type="text"
      autocomplete="current-password"
      placeholder="Your password"
    ></app-input-text>

    <app-button
      label="Login"
      [disabled]="form().invalid() || !form().touched() || form().pending()"
      (click)="login()"
    ></app-button>
  </div>

  <app-link label="Register instead" to="/auth/register"></app-link>
</div>
