<div class="flex flex-col gap-hw-large">
  <div class="typ-h1 text-center">Login</div>

  <form class="flex flex-col gap-hw-xxsmall" [formRoot]="form">
    <app-input-text
      [field]="form.identifier"
      label="Handle or email address"
      type="text"
      autocomplete="username"
      placeholder="Identifier"
    ></app-input-text>

    <app-input-text
      [field]="form.password"
      label="Password"
      type="password"
      autocomplete="current-password"
      placeholder="Your password"
    ></app-input-text>

    <app-checkbox
      class="self-center mb-hw-small"
      [field]="form.rememberMe"
      label="Remember me for a week"
    ></app-checkbox>

    <app-button
      type="submit"
      label="Login"
      [disabled]="form().invalid() || form().pending() || form().submitting()"
      class="self-center"
    ></app-button>
  </form>

  <app-link class="self-center" label="Register instead" to="/auth/register"></app-link>
</div>
