<div class="max-w-6xl mx-auto p-hw-average pt-0 flex flex-col gap-hw-large">
  <div class="sticky top-0 z-1 w-full bg-background separator-b separator-secondary py-hw-average">
    <div class="flex flex-row justify-between items-center gap-hw-average">
      <div class="typ-h1 truncate">Campaigns</div>

      <div class="flex flex-row justify-end items-center gap-hw-small">
        <app-user-menu></app-user-menu>
        <app-button icon="plus-circle" (click)="create()"></app-button>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-hw-average">
    <div class="flex flex-col items-start sm:flex-row sm:items-end gap-hw-average">
      <app-campaigns-list-filter
        [form]="form"
        [loading]="loading()"
        class="w-full sm:grow"
      ></app-campaigns-list-filter>

      <app-paginator [(page)]="page" [pages]="pages()"></app-paginator>
    </div>

    @let campaigns = this.campaigns();
    @if (campaigns.length) {
      <div class="grid grid-cols-1 md:grid-cols-2 gap-hw-average">
        @for (campaign of campaigns; track campaign.id) {
          <app-campaigns-list-entry [campaign]="campaign"> </app-campaigns-list-entry>
        }
      </div>
    } @else {
      <div class="typ-body italic">No results</div>
    }
  </div>
</div>
