<div class="flex flex-row text-sm leading-4.5 gap-2">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between gap-1">
      <span class="text-primary">BP</span>
      <span class="text-primary">
        {{ creature().bodyPoints }}/{{ creatureBodyPoints(key(), creature().inventory) }}
      </span>
    </div>
    <div class="flex flex-row justify-between gap-1">
      <span class="text-secondary">MP</span>
      <span class="text-secondary">
        {{ creature().mindPoints }}/{{ creatureMindPoints(key(), creature().inventory) }}
      </span>
    </div>
    <div class="flex flex-row justify-between gap-1">
      <span class="text-off-medium">MP</span>
      <span class="text-off-medium">
        {{ creature().movementPoints }}/{{ creature().maxMovementPoints }}
      </span>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row justify-between gap-1">
      <span class="text-warning">AD</span>
      <span class="text-warning">
        {{ creatureAttackDie(key(), creature().inventory) }}
      </span>
    </div>
    <div class="flex flex-row justify-between gap-1">
      <span class="text-off-light">DD</span>
      <span class="text-off-light">
        {{ creatureDefendDie(key(), creature().inventory) }}
      </span>
    </div>
  </div>
</div>
