<app-dialog sizeClass="max-w-4xl">
  <ng-template appDialogTitle>
    <div class="typ-h2">Edit adventure template</div>
  </ng-template>

  <ng-template appDialogContent>
    <app-adventure-template-picker
      [actions]="adventurePickerActions"
    ></app-adventure-template-picker>
  </ng-template>

  <ng-template appDialogActions>
    <app-button
      label="Cancel"
      type="button"
      appearance="outlined"
      (click)="dialogRef.close()"
    ></app-button>
    <app-button label="Create" type="button" (click)="create()"></app-button>
  </ng-template>
</app-dialog>
