<div class="flex flex-row">
  <app-sidebar class="w-[50px] h-screen"></app-sidebar>

  <div class="ml-[32px] basis-full h-screen cursor-grab active:cursor-grabbing">
    <div
      appPanzoom
      class="grid w-[2500px] h-[1500px] will-change-transform [content-visibility:auto] [contain-intrinsic-size:2500px_1500px]"
      style="grid-template-columns: repeat(25, 100px); grid-template-rows: repeat(15, 100px)"
    >
      @for (tile of tiles; track $index) {
        <div class="border-[3px] border-slate-700 flex items-center justify-center text-slate-500">
          <span>{{ $index }} </span>
          <span class="material-symbols-outlined">home</span>
        </div>
      }
    </div>
  </div>
</div>
