<app-card color="secondary">
  <div appCardTitle>
    <div class="typ-body">Items left in town</div>
  </div>

  <div appCardBody class="flex flex-col gap-hw-average">
    <app-backpack-manager
      [backpack]="stash()"
      [showPickup]="!!character()"
      [canPickup]="true"
      [pickup]="pickup"
      [showPickupGold]="!!character()"
      [canPickupGold]="stash().gold > 0"
      [pickupGold]="pickupGold"
      [showDropGold]="master().me"
      [canDropGold]="true"
      [dropGold]="dropGold"
    ></app-backpack-manager>
  </div>
</app-card>
