<app-card color="secondary">
  <div appCardTitle>
    <div class="typ-body">Items left in town</div>
  </div>

  <div appCardBody class="flex flex-col gap-hw-average">
    <app-backpack-manager
      [gear]="null"
      [backpack]="stash()"
      [showPickup]="!!character()"
      [canPickup]="true"
      (pickup)="pickup.emit($event)"
      [showPickupGold]="!!character()"
      [canPickupGold]="stash().gold > 0"
      (pickupGold)="pickupGold.emit($event)"
      [showDropGold]="master().me"
      [canDropGold]="true"
      (dropGold)="dropGold.emit($event)"
    ></app-backpack-manager>
  </div>
</app-card>
