@import 'tailwindcss';

@theme {
  --color-background: oklch(20.8% 0.042 265.755); /* slate-900 */

  --color-primary: oklch(76.9% 0.188 70.08); /* amber-500; */
  --color-secondary: oklch(60.9% 0.126 221.723); /* cyan-600 */
  --color-warning: oklch(50.5% 0.213 27.518); /* red-700 */

  --color-off-light: oklch(87.2% 0.01 258.338); /* gray-300 */
  --color-off-medium: oklch(44.6% 0.03 256.802); /* gray-600 */
  --color-off-dark: oklch(21% 0.034 264.665); /* gray-900 */
}

.text-scream {
  @apply text-6xl
       text-warning;
}

.text-h1 {
  @apply text-3xl
       text-primary;
}

.text-h2 {
  @apply text-2xl
       text-off-light;
}

.text-body {
  @apply text-lg
       text-off-light;
}

.text-body-muted {
  @apply text-lg
       text-off-medium;
}

.text-small {
  @apply text-off-light;
}

.text-code {
  @apply font-mono
       text-primary;
}

.spinner {
  @apply h-5
         w-5
         animate-spin
         rounded-full
         border-2
         border-primary
         border-t-transparent
         group-focus-within:border-off-dark
         group-focus-within:border-t-transparent;
}
