@import 'tailwindcss';

@font-face {
  font-family: 'Asimovian';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/asimovian-v2-latin-ext-regular.woff2') format('woff2');
}

html {
  font-family: 'Asimovian', sans-serif;
  scrollbar-gutter: stable both-edges;
}

body {
  margin: 0;
}

@theme {
  /* Colors */
  --color-background: oklch(20.8% 0.042 265.755); /* slate-900 */
  --color-primary: oklch(76.9% 0.188 70.08); /* amber-500; */
  --color-secondary: oklch(60.9% 0.126 221.723); /* cyan-600 */
  --color-warning: oklch(50.5% 0.213 27.518); /* red-700 */
  --color-off-light: oklch(87.2% 0.01 258.338); /* gray-300 */
  --color-off-medium: oklch(44.6% 0.03 256.802); /* gray-600 */
  --color-off-dark: oklch(21% 0.034 264.665); /* gray-900 */

  /* Font sizes */
  --text-scream: 3.75rem; /* 6xl */
  --text-h1: 1.875rem; /* 3xl */
  --text-h2: 1.5rem; /* 2xl */
  --text-body: 1.125rem; /* lg */
  --text-small: 0.95rem /* -- */;

  /* Leadings */
  --leading-scream: 0.9;
  --leading-others: 1;

  /* Spacings */
  --spacing-hw-xxsmall: 0.125rem;
  --spacing-hw-xsmall: 0.25rem;
  --spacing-hw-small: 0.5rem;
  --spacing-hw-average: 1rem;
  --spacing-hw-large: 1.5rem;
  --spacing-hw-xlarge: 1.75rem;
  --spacing-hw-xxlarge: 1.75rem;
}

.typ-scream {
  @apply text-scream
         text-warning
         leading-scream;
}

.typ-h1 {
  @apply text-h1
         text-primary
         leading-others;
}

.typ-h2 {
  @apply text-h2
         text-off-light
         leading-others;
}

.typ-body {
  @apply text-body
         text-off-light
         leading-others;
}

.typ-small {
  @apply text-small
         text-off-light
         leading-others;
}

.typ-code {
  @apply font-mono
         text-primary
         leading-others;
}

/* TODO Possibly typ-input-text, although it may be useful for e.g. numerical inputs */
.typ-input {
  @apply text-body
         text-off-light
         focus:text-background
         placeholder:text-off-medium
         disabled:text-off-medium
         selection:text-primary;
}

.typ-error {
  @apply text-small
         text-warning;
}

.typ-button {
  @apply text-lg
         font-semibold
         text-off-dark
         focus:text-primary
         hover:not-disabled:text-primary
         not-hover:not-disabled:text-off-dark
         disabled:text-off-medium;

  &.secondary {
    @apply text-off-light
           focus:text-secondary
           hover:not-disabled:text-secondary
           not-hover:not-disabled:text-off-light;
  }

  &.warning {
    @apply focus:text-warning
           hover:not-disabled:text-warning
           not-hover:not-disabled:text-off-light;
  }
}

.typ-link {
  @apply text-body
         text-off-light
         underline
         decoration-dashed
         underline-offset-4
         decoration-primary
         hover:text-primary;

  &.secondary {
    @apply decoration-secondary
           hover:text-secondary;
  }
}

.typ-toast {
  @apply text-body
         text-off-light;
}

.typ-checkbox {
  @apply text-body
         text-off-light;
}

.spinner {
  @apply h-5
         w-5
         animate-spin
         rounded-full
         border-2
         border-primary
         border-t-transparent
         group-focus-within:border-off-dark
         group-focus-within:border-t-transparent;
}

/* Separators */
.separator-t,
.separator-b,
.separator-l,
.separator-r {
  border-image-source: linear-gradient(
    var(--sep-dir, to right),
    transparent,
    var(--color-secondary),
    transparent
  );
  border-image-slice: 1;
}

.separator-t {
  --sep-dir: to right;
  border-top-width: 4px;
}
.separator-b {
  --sep-dir: to right;
  border-bottom-width: 4px;
}

.separator-l {
  --sep-dir: to bottom;
  border-left-width: 4px;
}
.separator-r {
  --sep-dir: to bottom;
  border-right-width: 4px;
}
